.u-section-1 .u-sheet-1 {
  min-height: 1613px;
}

.u-section-1 .u-shape-1 {
  width: 373px;
  height: 1325px;
  --radius: 20px;
  margin: 115px auto 0 45px;
}

.u-section-1 .u-shape-2 {
  width: 774px;
  height: 228px;
  background-image: none;
  margin: -1243px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 23px 809px 0 95px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 8px 809px 0 95px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 5px auto 0 155px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 756px 0 80px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 118px;
}

.u-section-1 .u-text-5 {
  margin: -4px auto 0 162px;
}

.u-section-1 .u-group-1 {
  width: 192px;
  height: auto;
  min-height: 30px;
  margin: 58px 812px 0 136px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  width: 94px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 10px auto 0 189px;
}

.u-section-1 .u-group-2 {
  width: 256px;
  height: auto;
  min-height: 39px;
  margin: 64px auto 0 98px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  margin: 1px 13px 0;
}

.u-section-1 .u-text-9 {
  margin: 6px 761px 0 98px;
}

.u-section-1 .u-group-3 {
  width: 273px;
  height: auto;
  min-height: 35px;
  margin: 69px auto 0 102px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  margin: 1px 14px 0;
}

.u-section-1 .u-text-11 {
  margin: 10px 774px 0 95px;
}

.u-section-1 .u-image-1 {
  width: 268px;
  height: 300px;
  margin: -969px 774px 0 98px;
}

.u-section-1 .u-text-12 {
  margin: -247px 114px 0 475px;
}

.u-section-1 .u-group-4 {
  width: 330px;
  height: auto;
  min-height: 34px;
  margin: 98px 196px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-13 {
  margin: 0 0 0 38px;
}

.u-section-1 .u-text-14 {
  margin: 4px 24px 0 443px;
}

.u-section-1 .u-text-15 {
  width: 673px;
  margin: 27px 24px 0 443px;
}

.u-section-1 .u-text-16 {
  width: 673px;
  margin: 16px 24px 0 443px;
}

.u-section-1 .u-group-5 {
  width: 330px;
  height: auto;
  min-height: 34px;
  margin: 95px 196px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-17 {
  margin: 0 19px;
}

.u-section-1 .u-text-18 {
  margin: 21px 217px 54px 636px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7883px;
  }

  .u-section-1 .u-shape-1 {
    --top-left-radius: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 5460px;
    margin-right: 163px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -5864px;
    margin-right: 804px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 124px;
    margin-right: 804px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 735px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 164px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 99px;
    margin-right: 712px;
    margin-left: 236px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 289px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -16px;
    margin-left: 228px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 346px;
    width: 94px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 809px;
    margin-left: 132px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 360px;
    margin-left: 217px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 346px;
    width: 94px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 801px;
    margin-left: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1228px;
    margin-right: 669px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -1360px;
    margin-right: 231px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 82px;
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-14 {
    width: 673px;
    margin-top: 343px;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 70px;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 23px;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 98px;
    height: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-18 {
    width: 240px;
    margin-right: 270px;
    margin-bottom: 0;
    margin-left: 630px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10585px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-top: 8163px;
    margin-right: 273px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -8566px;
    margin-right: 694px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 694px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 625px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 309px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 274px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 528px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 399px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 338px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 731px;
    margin-left: 210px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 715px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 449px;
    margin-left: 308px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 341px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8851px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 345px;
  }

  .u-section-1 .u-shape-2 {
    width: 570px;
    margin-top: 6428px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7293px;
    margin-right: 604px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 85px;
    margin-right: 604px;
    margin-left: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 535px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 399px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 364px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 348px;
    margin-left: 436px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 442px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 22px;
    margin-left: 428px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 641px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 159px;
    margin-left: 417px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 625px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1272px;
    margin-right: 269px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -543px;
    margin-right: 431px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 300px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-14 {
    width: 540px;
    margin-top: 281px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-15 {
    width: 540px;
    margin-top: 47px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-16 {
    width: 540px;
    margin-top: 39px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 153px;
    margin-right: 300px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 300px;
    margin-left: 600px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8346px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 5924px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7081px;
    margin-right: 504px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 504px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 435px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 499px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 464px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 412px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 489px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 48px;
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 541px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 135px;
    margin-right: 431px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 525px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 400px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -515px;
    margin-right: 482px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-14 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-15 {
    width: 340px;
    margin-top: 22px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-16 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 400px;
    margin-bottom: 41px;
    margin-left: 500px;
  }
}