.u-section-1 .u-sheet-1 {
  min-height: 1613px;
}

.u-section-1 .u-shape-1 {
  width: 268px;
  height: 268px;
  --top-left-radius: 20px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -156px 825px 0 87px;
}

.u-section-1 .u-shape-3 {
  width: 210px;
  height: 210px;
  margin: -219px auto 0 96px;
}

.u-section-1 .u-image-1 {
  width: 193px;
  height: 193px;
  margin: -201px auto 0 105px;
}

.u-section-1 .u-text-1 {
  margin: -176px 125px 0 464px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 82px 828px 0 76px;
}

.u-section-1 .u-group-1 {
  width: 330px;
  height: auto;
  min-height: 34px;
  margin: -12px 221px 0 589px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 0 0 38px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -14px 828px 0 76px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 5px auto 0 137px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0 774px 0 61px;
}

.u-section-1 .u-text-6 {
  margin: 0 853px 0 99px;
}

.u-section-1 .u-text-7 {
  margin: -4px 856px 0 144px;
}

.u-section-1 .u-text-8 {
  margin: -79px 50px 0 417px;
}

.u-section-1 .u-group-2 {
  width: 192px;
  height: auto;
  min-height: 30px;
  margin: 13px 843px 0 105px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-9 {
  width: 94px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-10 {
  margin: -17px 50px 0 417px;
}

.u-section-1 .u-text-11 {
  margin: -89px 896px 0 158px;
}

.u-section-1 .u-text-12 {
  margin: 19px 50px 0 417px;
}

.u-section-1 .u-group-3 {
  width: 256px;
  height: auto;
  min-height: 39px;
  margin: -42px 817px 0 67px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  margin: 1px 13px 0;
}

.u-section-1 .u-text-14 {
  margin: 14px 831px 0 81px;
}

.u-section-1 .u-group-4 {
  width: 330px;
  height: auto;
  min-height: 34px;
  margin: 10px 221px 0 589px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-15 {
  margin: 0 19px;
}

.u-section-1 .u-group-5 {
  width: 273px;
  height: auto;
  min-height: 35px;
  margin: 17px 796px 0 71px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-16 {
  margin: 1px 14px 0;
}

.u-section-1 .u-text-17 {
  margin: -31px 243px 0 610px;
}

.u-section-1 .u-text-18 {
  margin: -45px 805px 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    --radius: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 2773px;
    margin-right: 712px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -246px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -279px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2833px;
    margin-right: 231px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -198px;
    margin-right: 804px;
    margin-left: 100px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 88px;
    margin-right: 121px;
    margin-left: 489px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -105px;
    margin-right: 804px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 735px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 704px;
    margin-left: 199px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 706px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-8 {
    width: 673px;
    margin-top: -176px;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 147px;
    margin-right: 743px;
    margin-left: 236px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-10 {
    width: 673px;
    margin-top: -5px;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -71px;
    margin-right: 739px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-12 {
    width: 673px;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 367px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 684px;
    margin-left: 228px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 346px;
    width: 94px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 268px;
    margin-right: 809px;
    margin-left: 132px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -678px;
    margin-right: 121px;
    margin-left: 489px;
    height: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: 346px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 481px;
    margin-right: 667px;
    margin-left: 217px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 346px;
    width: 94px;
  }

  .u-section-1 .u-text-17 {
    width: 240px;
    margin-top: -29px;
    margin-right: 270px;
    margin-left: 630px;
  }

  .u-section-1 .u-text-18 {
    margin: -76px 801px -1131px 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 5389px;
    margin-right: 492px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -5319px;
    margin-right: 341px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1647px;
    margin-right: 694px;
    margin-left: 210px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1408px;
    margin-right: 11px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 694px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 625px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 539px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 541px;
    margin-left: 274px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -953px;
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 924px;
    margin-right: 528px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 566px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 210px;
    margin-left: 257px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 464px;
    margin-left: 338px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 731px;
    margin-left: 210px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 11px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 265px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 447px;
    margin-left: 327px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 265px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 715px;
    margin-bottom: -1390px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 345px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 3987px;
    margin-right: 312px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3917px;
    margin-right: 431px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1331px;
    margin-right: 604px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1091px;
    margin-right: 300px;
    margin-left: 210px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 604px;
    margin-left: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -4px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 535px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 404px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 406px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-8 {
    width: 540px;
    margin-top: -831px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 802px;
    margin-right: 348px;
    margin-left: 436px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-10 {
    width: 540px;
    margin-top: 4px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -84px;
    margin-right: 425px;
    margin-left: 442px;
  }

  .u-section-1 .u-text-12 {
    width: 540px;
    margin-top: 23px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -62px;
    margin-right: 284px;
    margin-left: 428px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 37px;
    margin-right: 641px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -390px;
    margin-right: 300px;
    margin-left: 210px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 199px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 410px;
    margin-right: 267px;
    margin-left: 417px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -16px;
    margin-right: 300px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 625px;
    margin-bottom: -1220px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 3643px;
    margin-right: 112px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3573px;
    margin-right: 482px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1014px;
    margin-right: 504px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 774px;
    margin-right: 400px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 504px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 435px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 254px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 256px;
    margin-left: 464px;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 827px;
    margin-right: 412px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
    margin-top: -21px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 268px;
    margin-left: 489px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 14px;
    margin-right: 541px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -367px;
    margin-right: 400px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 125px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 431px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 125px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 400px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 525px;
    margin-left: 400px;
  }
}